node_modules/
.env
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
*.plan
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Credenciais AWS Academy (NUNCA versionar)
aws-creds.sh

# Chaves SSH
*.pem
*.key
id_rsa
id_rsa.pub

# Credenciais AWS locais
.aws/
*.credentials

# OS
.DS_Store
Thumbs.db
